html{
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('iut.jpeg');
    background-size: cover;
    background-position: center;    
}

h1 {
    color: #000000;
    text-align: center;
    margin: 4vh;
    font-size: 5vh;
}

.container{
    display: flex;
    justify-content: center;
    gap: 4vw; /* espace entre les boîtes */
}

div {
    display: flex;
    justify-content: center;
    gap: 1vw; /* espace entre le nom et le lien */
}

.name{
    font-weight: bold;
    font-size: 3vh;
    color: #333;
}

.box{
    background: linear-gradient(
    to bottom,
    #c0d9ff,
    #6aa6ff
  );
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 40vw;
    height: 75vh;
    padding: 2vh;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    opacity: 0; /* invisible au départ */
    animation: fadeUp 0.8s ease forwards; /* déclenche fade + montée */
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 2vh;
}

p {
    text-align: center;
    font-size: 2.5vh;
    color: #242424;
    width: 90%;
    text-align: center;
    margin-bottom: 5vh;
}


/* Photo */
img {
    border: 4px solid #00abf0;
    width: auto;
    height: 25vh;
    border-radius: 100%;
    margin-bottom: 5vh;
}

/* Animation pour fade + montée */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}