body {
    margin: 0;
}

.Sommaire {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.so {
    text-align: center;
    padding: 32px 16px;
    margin: 16px;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    width: 200px;
    height: 400px;
}

a {
    text-decoration: none;
    color: black;
}